{% load staticfiles %} 
<html> 
  <head> 
    <title>CP Blog</title> 
    <link href="//fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
  </head> 
  <body> 
    <div class="page-header"> 
      <h1><a href="/">Clever Programmer Blog</a></h1> 
    </div> 
    <div class="content container"> 
      <div class="row"> 
        <div class="col-md-8"> 
          {% block content %} 
          {% endblock %} 
        </div> 
      </div> 
    </div> 
  </body> 
</html>